Repository bwohlberg/komplot: changes, and which pre-commit hooks are due for each by the changed paths.
All: autoflake, isort, black, pylint

autoflake:
  name: autoflake
  entry: autoflake
  language: python
  language_version: python3
  args:
  - -i
  - --remove-all-unused-imports
  - --ignore-init-module-imports

isort:
  args:
  - --profile
  - black
  name: isort (python)
  entry: isort
  language: python
  language_version: python3

black:
  name: black
  entry: black
  description: 'Black: The uncompromising Python code formatter'
  language: python
  language_version: python3

pylint:
  name: pylint
  entry: pylint
  language: python
  language_version: python3
  args:
  - --score=n
  - --disable=all
  - --enable=missing-docstring,broad-exception-raised

Change logo
  docs/_static/komplot.css
  docs/_static/logo.png
  docs/_static/logo.svg
  docs/conf.py
Due: autoflake, isort, black

Disable detailed repr
  komplot/_contour.py
  komplot/_imview.py
  komplot/_plot.py
  komplot/_state.py
  komplot/_surface.py
  komplot/_volview.py
Due: autoflake, isort, black, pylint

Bug fix and docs improvements/fixes
  komplot/_volview.py
Due: autoflake, isort, black, pylint

Clean up
  komplot/_volview.py
Due: autoflake, isort, black, pylint

Change version to 0.0.1rc3
  komplot/__init__.py
Due: autoflake, isort, black, pylint

Revert to dev version number
  komplot/__init__.py
Due: autoflake, isort, black, pylint

Typo fix
  examples/komplot.ipynb
Due: none

Restore support for Python 3.9
  komplot/_contour.py
  komplot/_imview.py
  komplot/_plot.py
  komplot/_state.py
  komplot/_surface.py
  komplot/_volview.py
Due: autoflake, isort, black, pylint

Change version to 0.0.1rc4
  komplot/__init__.py
Due: autoflake, isort, black, pylint

Update docs configuration
  docs/conf.py
Due: autoflake, isort, black

Fix requirements spec
  docs/requirements.txt
  pyproject.toml
Due: none

Docs config change
  docs/conf.py
Due: autoflake, isort, black

Add badge to readme
  README.md
Due: none

Workaround for colab failure
  examples/komplot.ipynb
Due: none

Change figure sizes
  examples/komplot.ipynb
Due: none

Add depedency
  pyproject.toml
Due: none

Remove dependency
  pyproject.toml
Due: none

Change colab notebook issue workaround
  examples/komplot.ipynb
Due: none

Revert some changes
  examples/komplot.ipynb
Due: none

Resolve colab issues
  examples/komplot.ipynb
Due: none

CSS clean up and modification
  docs/_static/komplot.css
Due: none

Minor comment edit
  examples/komplot.ipynb
Due: none

Tweak docs css
  docs/_static/komplot.css
Due: none

Prepare for release
  CHANGES.rst
  komplot/__init__.py
Due: autoflake, isort, black, pylint

Prepare for next release
  CHANGES.rst
  komplot/__init__.py
Due: autoflake, isort, black, pylint

Add conda-forge links
  README.md
Due: none

Add import from matplotlib
  komplot/__init__.py
Due: autoflake, isort, black, pylint

Add asserts to address mypy complaints and reformat with black
  komplot/_contour.py
  komplot/_event.py
  komplot/_imview.py
  komplot/_misc.py
  komplot/_plot.py
  komplot/_state.py
  komplot/_surface.py
  komplot/_version.py
  komplot/_volview.py
Due: autoflake, isort, black, pylint

Resolve typing errors
  .github/workflows/mypy.yml
  komplot/_contour.py
  komplot/_event.py
  komplot/_imview.py
  komplot/_ipython.py
  komplot/_plot.py
  komplot/_state.py
  komplot/_surface.py
  komplot/_volview.py
Due: autoflake, isort, black, pylint

Install matplotlib for mypy run
  .github/workflows/mypy.yml
Due: none

Try to fix mypy errors
  .github/workflows/mypy.yml
Due: none

Update year range
  komplot/_contour.py
  komplot/_imview.py
  komplot/_plot.py
  komplot/_state.py
  komplot/_surface.py
  komplot/_volview.py
Due: autoflake, isort, black, pylint

Remove assert inserted for spurious typing purposes
  komplot/_event.py
Due: autoflake, isort, black, pylint

Fix bug in cursor pixel value display when image data changes (as in volview)
  komplot/_imview.py
Due: autoflake, isort, black, pylint

Update change summary
  CHANGES.rst
Due: none

Add some matplotlib imports
  CHANGES.rst
  komplot/__init__.py
Due: autoflake, isort, black, pylint

Changes for release 0.0.2
  CHANGES.rst
  komplot/__init__.py
Due: autoflake, isort, black, pylint

Path conditions:
  autoflake: any of: \.py$
  isort: any of: \.py$
  black: any of: \.py$
  pylint: any of: \.py$, but not: ^(test|examples|docs)
