Repository bwohlberg/komplot: changes, and which pre-commit hooks are due for each by the changed paths.
All: autoflake, isort, black, pylint

autoflake:
  name: autoflake
  entry: autoflake
  language: python
  language_version: python3
  args:
  - -i
  - --remove-all-unused-imports
  - --ignore-init-module-imports

isort:
  args:
  - --profile
  - black
  name: isort (python)
  entry: isort
  language: python
  language_version: python3

black:
  name: black
  entry: black
  description: 'Black: The uncompromising Python code formatter'
  language: python
  language_version: python3

pylint:
  name: pylint
  entry: pylint
  language: python
  language_version: python3
  args:
  - --score=n
  - --disable=all
  - --enable=missing-docstring,broad-exception-raised

Create link to example notebook before building docs
  .gitignore
  docs/Makefile
Due: none

Add rtd config file
  .readthedocs.yaml
Due: none

Resolve rtd build failure
  .readthedocs.yaml
  docs/requirements.txt
Due: none

Resolve rtd build failure
  .readthedocs.yaml
Due: none

Resolve rtd build failure
  docs/requirements.txt
Due: none

Debug rtd build
  .readthedocs.yaml
Due: none

Clean up
  .readthedocs.yaml
Due: none

Debug rtd build
  docs/requirements.txt
Due: none

Resolve nbsphinx execute error
  docs/conf.py
Due: autoflake, isort, black

Fix link
  examples/komplot.ipynb
Due: none

Add link to github repo
  docs/overview.rst
Due: none

Add readme badges
  README.md
Due: none

Modify python version badge
  README.md
Due: none

Add pypi package badge
  README.md
Due: none

No local version suffix for post or rc versions
  komplot/_version.py
Due: autoflake, isort, black, pylint

Remove unused pytest dependency
  pyproject.toml
Due: none

Add installation instructions
  README.md
  docs/index.rst
  docs/install.rst
Due: none

Typo fix
  examples/komplot.ipynb
Due: none

Add docs link
  README.md
Due: none

Support notebook detection on google colab
  komplot/_ipython.py
Due: autoflake, isort, black, pylint

Typo fix
  komplot/_ipython.py
Due: autoflake, isort, black, pylint

Handle no git repo case
  komplot/_version.py
Due: autoflake, isort, black, pylint

Improve error handling
  komplot/_version.py
Due: autoflake, isort, black, pylint

Add mypy workflow
  .github/workflows/mypy.yml
Due: none

Catch additional exception
  komplot/_version.py
Due: autoflake, isort, black, pylint

Change version management mechanism
  komplot/__init__.py
Due: autoflake, isort, black, pylint

Address mypy errors
  komplot/_imview.py
Due: autoflake, isort, black, pylint

Add support for google colab in example notebook
  examples/komplot.ipynb
Due: none

Add run in colab badge
  README.md
Due: none

Add source file checking workflow
  .github/workflows/lint.yml
Due: none

Fix code formatting
  komplot/_version.py
Due: autoflake, isort, black, pylint

Fix code formatting
  docs/conf.py
Due: autoflake, isort, black

Clean up
  .pre-commit-config.yaml
Due: none

Set isort black compatibility mode
  pyproject.toml
Due: none

Clean up
  docs/requirements.txt
Due: none

Add plots to docs
  docs/conf.py
  docs/overview.rst
Due: autoflake, isort, black

Improve docs
  docs/overview.rst
Due: none

Path conditions:
  autoflake: any of: \.py$
  isort: any of: \.py$
  black: any of: \.py$
  pylint: any of: \.py$, but not: ^(test|examples|docs)
