Repository bwohlberg/komplot: changes, and which pre-commit hooks are due for each by the changed paths.
All: autoflake, isort, black, pylint

autoflake:
  name: autoflake
  entry: autoflake
  language: python
  language_version: python3
  args:
  - -i
  - --remove-all-unused-imports
  - --ignore-init-module-imports

isort:
  args:
  - --profile
  - black
  name: isort (python)
  entry: isort
  language: python
  language_version: python3

black:
  name: black
  entry: black
  description: 'Black: The uncompromising Python code formatter'
  language: python
  language_version: python3

pylint:
  name: pylint
  entry: pylint
  language: python
  language_version: python3
  args:
  - --score=n
  - --disable=all
  - --enable=missing-docstring,broad-exception-raised

Add workflow
  .github/workflows/pypi_upload.yml
Due: none

Bug fix
  komplot/_imview.py
Due: autoflake, isort, black, pylint

Improve slice display for of high aspect ratio cases
  komplot/_imview.py
Due: autoflake, isort, black, pylint

Improve comment clarity
  komplot/_ipython.py
Due: autoflake, isort, black, pylint

Rename surf function to surface
  docs/overview.rst
  examples/komplot.ipynb
  examples/surfcont.py
  komplot/__init__.py
  komplot/_surface.py
Due: autoflake, isort, black, pylint

Add function for checking example scripts
  examples/scriptcheck.sh
Due: none

Add examples test action
  .github/workflows/test_examples.yml
Due: none

Fix action
  .github/workflows/test_examples.yml
Due: none

Docs fix
  docs/overview.rst
Due: none

Change return value discard mechanism
  examples/komplot.ipynb
  komplot/__init__.py
  komplot/_ipython.py
  komplot/_plot.py
Due: autoflake, isort, black, pylint

Fix line lengths
  examples/komplot.ipynb
Due: none

Improve plot function wrapper
  komplot/__init__.py
Due: autoflake, isort, black, pylint

Split imview into two functions
  examples/imview_vol.py
  komplot/__init__.py
  komplot/_imview.py
  komplot/_volview.py
Due: autoflake, isort, black, pylint

Rename examples
  docs/overview.rst
  examples/imview.py
  examples/volview.py
Due: autoflake, isort, black

Update __all__
  komplot/__init__.py
Due: autoflake, isort, black, pylint

Clean up
  komplot/_volview.py
Due: autoflake, isort, black, pylint

Clean up
  komplot/_imview.py
  komplot/_volview.py
Due: autoflake, isort, black, pylint

Clean up
  komplot/_imview.py
Due: autoflake, isort, black, pylint

Update function names
  komplot/_ipython.py
Due: autoflake, isort, black, pylint

Update function names
  examples/komplot.ipynb
Due: none

Update function name
  docs/overview.rst
Due: none

Change colour map for volview in notebook
  examples/komplot.ipynb
Due: none

Typing fix
  komplot/_imview.py
Due: autoflake, isort, black, pylint

Add vmin_quantile parameter
  komplot/_imview.py
  komplot/_volview.py
Due: autoflake, isort, black, pylint

Improve docs and address mypy error
  komplot/_imview.py
  komplot/_volview.py
Due: autoflake, isort, black, pylint

Improve docs
  docs/overview.rst
Due: none

Improve docs
  komplot/_imview.py
  komplot/_volview.py
Due: autoflake, isort, black, pylint

Improve color map range
  examples/komplot.ipynb
Due: none

Bug fix
  komplot/_ipython.py
Due: autoflake, isort, black, pylint

Extend docstring in notebook
  examples/komplot.ipynb
Due: none

Add volview to list of functions to copy
  komplot/__init__.py
Due: autoflake, isort, black, pylint

Change colormaps
  docs/overview.rst
  examples/komplot.ipynb
Due: none

Change some line lengths
  examples/komplot.ipynb
Due: none

Add parameter to contour function
  komplot/_contour.py
Due: autoflake, isort, black, pylint

Update copyright years
  LICENSE
  docs/conf.py
  komplot/__init__.py
  komplot/_contour.py
Due: autoflake, isort, black, pylint

Change version to 0.0.1rc2
  komplot/__init__.py
Due: autoflake, isort, black, pylint

Attempt to resolve workflow failure
  .github/workflows/pypi_upload.yml
Due: none

Revert to dev version number
  komplot/__init__.py
Due: autoflake, isort, black, pylint

Path conditions:
  autoflake: any of: \.py$
  isort: any of: \.py$
  black: any of: \.py$
  pylint: any of: \.py$, but not: ^(test|examples|docs)
